  <div class="container">
    <h2><%= link_to 'Go back', cocktails_path%></h2>
    <h1>Name: <%= @cocktail.name %>

    </h4>
      <% @cocktail.doses.each do |dose| %>
        <div class="card">
           <div>
            <span><%= dose.description %> <%= dose.ingredient.name %></span>
              <span>
                <%= link_to 'delete', dose_path(dose), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'%>
              </span>
             </div>
        </div>
      <% end %>
  <p><%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %></p>
</div>

<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>


